.play {
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: column;

  .triangle {
    position: absolute;
    align-self: center;
    margin: 4.375rem 0 0 0;
  }
  .pentagon {
    position: absolute;
    align-self: center;
    margin: 4.375rem 0 0 0;
  }
  .items {
    display: flex;
    justify-content: center;

    .icon {
      height: 160px;
      width: 160px;
      border: 18px solid;
      border-radius: 50%;
      transition: transform 0.2s;

      &--paper {
        @include icon($imageP, $paper-gradient);
        transform: translateX(30rem) translateY(8rem);
        &:hover {
          transform: translateX(30rem) translateY(8rem) scale(1.5);
        }
      }
      &--scissors {
        @include icon($imageS, $scissors-gradient);
        transform: translateX(10rem) translateY(0rem);

        &:hover {
          transform: translateX(10rem) translateY(0rem) scale(1.5);
        }
      }
      &--rock {
        @include icon($imageR, $rock-gradient);
        transform: translateX(6.5rem) translateY(20rem);
        &:hover {
          transform: translateX(6.5rem) translateY(20rem) scale(1.5);
        }
      }
      &--spock {
        @include icon($imageSP, $spock-gradient);
        transform: translateX(-20rem) translateY(8rem);

        &:hover {
          transform: translateX(-20rem) translateY(8rem) scale(1.5);
        }
      }
      &--lizard {
        @include icon($imageL, $lizard-gradient);
        transform: translateX(-26.5rem) translateY(20rem);
        &:hover {
          transform: translateX(-26.5rem) translateY(20rem) scale(1.5);
        }
      }
    }
  }
}
