.play {
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: column;

  .triangle {
    position: absolute;
    align-self: center;
    margin: 4.375rem 0 0 0;
  }
  .pentagon {
    position: absolute;
    align-self: center;
    margin: 4.375rem 0 0 0;
  }
  .items {
    display: flex;
    justify-content: center;

    .icon {
      height: 160px;
      width: 160px;
      border: 18px solid;
      border-radius: 50%;
      transition: transform 0.2s;

      &--paper {
        @include icon($imageP, $paper-gradient);
        transform: translateX(14rem) translateY(18.5rem);
        &:hover {
          transform: translateX(15rem) translateY(18rem) scale(1.1);
        }
      }
      &--scissors {
        @include icon($imageS, $scissors-gradient);
        transform: translateX(10rem) translateY(0rem);

        &:hover {
          transform: translateX(10rem) translateY(1rem) scale(1.1);
        }
      }
      &--rock {
        @include icon($imageR, $rock-gradient);
        transform: translateX(-10rem) translateY(7rem);

        &:hover {
          transform: translateX(-9rem) translateY(7rem) scale(1.1);
        }
      }
      &--spock {
        @include icon($imageSP, $spock-gradient);
        transform: translateX(0rem) translateY(7rem);
        &:hover {
          transform: translateX(-1rem) translateY(7rem) scale(1.1);
        }
      }
      &--lizard {
        @include icon($imageL, $lizard-gradient);
        transform: translateX(-13rem) translateY(18.5rem);
        &:hover {
          transform: translateX(-15rem) translateY(18rem) scale(1.1);
        }
      }
    }
  }
}
